---
layout: default
---

<h2>Description</h2>
<p>The aim of this conference is to join together international experts and young researchers alike, with a view on exploring noncommutative geometry in its many varied incarnations. Particular emphasis is placed on the vast range of topics cultivated and enriched by Michel Van den Bergh, who we join in celebrating <a href="https://en.wikipedia.org/wiki/Hwangap">Kanreki</a> in 2020.

<h2>List of speakers</h2>
<ul class="names">
{% for speaker_id in site.data.speakers %}
{% assign speaker = speaker_id[1] %}
  <li><span class="name">
  {% if speaker.website %}
    <a href="{{ speaker.website }}">{{ speaker.name }}</a>
  {% else %}
    {{ speaker.name }}
  {% endif %}
  </span>
  {% if speaker.tbc %}
    *
  {% endif %}
  (<span class="affiliation">{{ speaker.affiliation }}</span>)
{% endfor %}
</ul>

<p>* to be confirmed</p>

<h2>Organisation</h2>
<p>If you have any questions you can contact the organisers.
<ul class="names">
  <li><span class="name"><a href="https://pbelmans.ncag.info/">Pieter Belmans</a></span></li>
  <li><span class="name"><a href="http://win.ua.ac.be/~wlowen/welcome.html">Wendy Lowen</a></span></li>
  <li><span class="name"><a href="https://www.theoraedschelders.com/">Theo Raedschelders</a></span></li>
  <li><span class="name"><a href="http://homepages.vub.ac.be/~sspenko/">Špela Špenko</a></span></li>
</ul>

<p>The conference is supported through the European Research Council (ERC) grant no. FHiCuNCAG, the Research Foundation Flanders (FWO), Compositio and the University of Antwerp


<ul id="logos">
  <li><a href="https://erc.europa.eu/"><img width="80" src="logo-erc.png"></a>
  <li><a href="https://compositio.nl/"><img width="80" src="compositio.gif"></a>
  <li><a href="http://fwo.be"><img width="200" src="logo-fwo.png"></a>
  <li><a href="http://uantwerpen.be"><img width="150" src="logo-uantwerpen.png"></a>
</ul>
