---
layout: default
---



<h2>Description</h2>
<p>The aim of this conference is to join together international experts and young researchers alike, with a view on exploring noncommutative geometry in its many varied incarnations. Particular emphasis is placed on the vast range of topics cultivated and enriched by Michel Van den Bergh, who we join in celebrating <a href="https://en.wikipedia.org/wiki/Hwangap">Kanreki</a> in 2020. Because of the pandemic we have postponed this event to 2022.
<p>The main conference will be held <strong>September 12&ndash;16 2022</strong> (in a hybrid form).


<h2>Registration</h2>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLScRay1HpL03vvBUaFue_mmKTBVOIMKuQafGwGRdioPGFqccRQ/viewform">Register here for in-person attendance</a>.</p>
<p>You can still register for in-person participation until <strong>Thursday September 8</strong>. There will be a small registration fee of 20 euros to be paid when participating in-person.</p>
<p>The deadline for in-person registration with support was Sunday July 17.
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSehgWJLjKMLSgIgpoRoky5IYBVCNjCT4jCKd2upGPbDvcQHww/viewform">Register here for online attendance</a>.</p>
<p>We will also try to livestream the talks for online participants, you need to register for this.


<h2>List of speakers</h2>
<ul class="names">
{% for speaker_id in site.data.speakers %}
{% assign speaker = speaker_id[1] %}
  <li><span class="name">
  {% if speaker.website %}
    <a href="{{ speaker.website }}">{{ speaker.name }}</a>
  {% else %}
    {{ speaker.name }}
  {% endif %}
  </span>
  {% if speaker.online %}
    *
  {% endif %}
  (<span class="affiliation">{{ speaker.affiliation }}</span>)
{% endfor %}
</ul>

<p>* online</p>

<h2>A halfway event</h2>
<p>On <strong>20 September 2021</strong> we organised an online <a href="/halfway">halfway event</a>. More information, including YouTube videos and seminar notes can be found there.

<h2>Organisation</h2>
<p>If you have any questions you can contact the organisers on <a href="mailto:noncommutativeshapes@gmail.com">noncommutativeshapes@gmail.com</a>,
<ul class="names">
  <li><span class="name"><a href="https://pbelmans.ncag.info/">Pieter Belmans</a></span></li>
  <li><span class="name"><a href="http://win.ua.ac.be/~wlowen/welcome.html">Wendy Lowen</a></span></li>
  <li><span class="name">Theo Raedschelders</span></li>
  <li><span class="name"><a href="http://homepages.vub.ac.be/~sspenko/">Špela Špenko</a></span></li>
</ul>

<p>The conference is supported through the European Research Council (ERC) grant no. FHiCuNCAG, the Research Foundation Flanders (FWO), Compositio and the University of Antwerp


<ul id="logos">
  <li><a href="https://erc.europa.eu/"><img width="80" src="logo-erc.png"></a>
  <li><a href="https://compositio.nl/"><img width="80" src="compositio.gif"></a>
  <li><a href="https://www.fwo.be"><img width="200" src="logo-fwo.png"></a>
  <li><a href="https://uantwerpen.be"><img width="150" src="logo-uantwerpen.png"></a>
  <li><a href="https://uni.lu"><img width="100" src="logo-luxembourg.png"></a>
</ul>
