---
layout: default
permalink: /schedule
---

The schedule for the main conference will be determined later.

{% comment %}

<!--
<p>A <a href="schedule.pdf">printable version</a> of the schedule.
-->

{% for day in site.data.schedule %}
<h3>{{ day.date }}</h3>
<dl class="schedule">
  {% for slot in day.slots %}
    <dt>{{ slot.time }}
    {% if slot.talk %}
      {% assign talk = site.data.talks[slot.talk] %}
      {% assign speaker = site.data.speakers[slot.talk] %}

      {% if site.data.talks[slot.talk] %}
        <dd class="title">
          <a href="{{ site.baseurl }}/abstracts#{{ slot.talk }}">{{ talk.title }}</a>
        </dd>
      {% else %}
        <dd>to be determined</dd>
      {% endif %}

      <dd class="speaker"><span class="name">{{ speaker.name }}</span> (<span class="affiliation">{{ speaker.affiliation }}</span>)
      </dd>
    {% elsif slot.other %}
      <dd>{{ slot.other }}
    {% else %}
      <dd><em>to be determined</em></dd>
    {% endif %}
  {% endfor %}
</dl>
<hr>

{% endfor %}

{% endcomment %}
