<header>
  <img src="header.png">
  <h1>Noncommutative Shapes: A conference in honor of Michel Van den Bergh's 60th birthday</h1>

  <p id="location">University of Antwerp</p>
  <p id="date">September 14&ndash;18, 2020</p>
</header>

<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a>
    <li><a href="{{ site.baseurl }}/schedule">Schedule</a>
    <li><a href="{{ site.baseurl }}/practical">Practical</a>
    <!--
    <li><a href="{{ site.baseurl }}/abstracts">Abstracts</a>
    <li><a href="{{ site.baseurl }}/participants">Participants</a>
    -->
  </ul>
</nav>
